__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
*.log
*.sqlite3
*.db
*.DS_Store
.idea/
.vscode/
venv/
.envrc
node_modules/
*.weights
# Ignore everything in known_faces
app/known_faces/*

# But keep this specific image
!app/known_faces/manface.jpg